@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html, body { @apply h-full overflow-hidden; }


@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-Medium.ttf');
}

:root [data-theme='rocket'] {
    --theme-font-family-base: 'Montserrat', sans-serif;
    --theme-font-family-heading: 'Montserrat', sans-serif;
    /* ... */
}
                        	
							